# Hell Yeah Now Started

In [2]:
import numpy as np 
import pandas as pd

In [7]:
df =pd.read_csv('dataset2.csv')
print("Reading the dataset", df.shape)

Reading the dataset (9999, 37)

In [8]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Call Number             9999 non-null   int64
 1   Incident Number         9999 non-null   int64
 2   Call Type               9999 non-null   object
 3   Received DtTm           9999 non-null   object
 4   Entry DtTm              9999 non-null   object
 5   Dispatch DtTm           9999 non-null   object
 6   Response DtTm           9687 non-null   object
 7   On Scene DtTm           7972 non-null   object
 8   Transport DtTm          2821 non-null   object
 9   Hospital DtTm           2758 non-null   object
 10  Call Final Disposition  9999 non-null   object
 11  Available DtTm          9994 non-null   object
 12  Address                 9996 non-null   object
 13  City                    9985 non-null   object
 14  Zipcode of Incident     9988 non-null   float64
 15  Final Priority          9999 non-null   int64
 16  ALS Unit                9999 non-null   bool
 17  Call Type Group         9910 non-null   object
 18  Unit Type               9999 non-null   object
 19  Analysis Neighborhoods  9984 non-null   float64
dtypes: bool(1), float64(2), int64(3), object(14)
memory usage: 1.5+ MB

In [19]:
df.describe()

,Call Number,Incident Number,Zipcode of Incident,Final Priority,Analysis Neighborhoods
count,9.999000e+03,9.999000e+03,9988.000000,9999.000000,9984.000000
mean,1.603732e+08,1.597701e+07,94113.668302,2.693869,22.339844
std,1.054271e+07,1.062714e+06,10.547238,0.460908,12.730668
min,3.229017e+07,3.065715e+06,94102.000000,2.000000,1.000000
25%,1.609519e+08,1.603764e+07,94103.000000,2.000000,9.000000
50%,1.609820e+08,1.603892e+07,94110.000000,3.000000,22.000000
75%,1.610117e+08,1.604020e+07,94122.000000,3.000000,34.000000
max,2.516819e+08,2.508626e+07,94158.000000,3.000000,41.000000

In [ ]:
df.head()

In [ ]:
df.tail()

In [14]:
print("Dataset columns:", df.columns)

Dataset columns: Index(['Call Number', 'Unit ID', 'Incident Number', 'Call Type', 'Call Date',
       'Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm',
       'Response DtTm', 'On Scene DtTm', 'Transport DtTm', 'Hospital DtTm',
       'Call Final Disposition', 'Available DtTm', 'Address', 'City',
       'Zipcode of Incident', 'Battalion', 'Station Area', 'Box',
       'Original Priority', 'Priority', 'Final Priority', 'ALS Unit',
       'Call Type Group', 'Number of Alarms', 'Unit Type',
       'Unit sequence in call dispatch', 'Fire Prevention District',
       'Supervisor District', 'Neighborhooods - Analysis Boundaries', 'RowID',
       'case_location', 'data_as_of', 'data_loaded_at',
       'Analysis Neighborhoods'],
      dtype='object')

In [15]:
columns_to_drop = ['Unit ID', 'Call Date', 'Watch Date', 'Battalion', 'Station Area', 'Box', 'Original Priority', 'Priority', 
 'Number of Alarms', 'Unit sequence in call dispatch', 'Fire Prevention District', 'Supervisor District', 
 'Neighborhooods - Analysis Boundaries', 'RowID', 'case_location', 'data_as_of', 'data_loaded_at']
df.drop(columns=columns_to_drop, inplace=True)
print("Columns after dropping:", df.columns)

Columns after dropping: Index(['Call Number', 'Incident Number', 'Call Type', 'Received DtTm',
       'Entry DtTm', 'Dispatch DtTm', 'Response DtTm', 'On Scene DtTm',
       'Transport DtTm', 'Hospital DtTm', 'Call Final Disposition',
       'Available DtTm', 'Address', 'City', 'Zipcode of Incident',
       'Final Priority', 'ALS Unit', 'Call Type Group', 'Unit Type',
       'Analysis Neighborhoods'],
      dtype='object')

<h3 style="color:#8B0000">Checking NULL values in dataset</h3>

In [16]:
print(df.isnull().sum())

Call Number                  0
Incident Number              0
Call Type                    0
Received DtTm                0
Entry DtTm                   0
Dispatch DtTm                0
Response DtTm              312
On Scene DtTm             2027
Transport DtTm            7178
Hospital DtTm             7241
Call Final Disposition       0
Available DtTm               5
Address                      3
City                        14
Zipcode of Incident         11
Final Priority               0
ALS Unit                     0
Call Type Group             89
Unit Type                    0
Analysis Neighborhoods      15
dtype: int64

In [ ]:
df.to_csv('dataset2_cleaned.csv', index=False)

In [25]:
df2 = pd.read_csv('dataset2_cleaned.csv')
print("Reading the cleaned dataset", df2.shape)

Reading the cleaned dataset (9999, 20)